﻿@model Tuple<GestiuneFilme.Domain.Entitities.Bilet, GestiuneFilme.WebUI.Models.FilmsListViewModel>

@{
    ViewBag.Title = "RezervareBilete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="col-xs-12">
    <h2>Rezervare</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)

    <div class="col-lg-3">

        <br />
        <br />
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Item1.rand, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.rand)
                @Html.ValidationMessageFor(model => model.Item1.rand)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.loc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.loc)
                @Html.ValidationMessageFor(model => model.Item1.loc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.data)
                @Html.ValidationMessageFor(model => model.Item1.data)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Rezervare" class="btn btn-default" />
            </div>
        </div>


    </div>
    </div>
    }

    <div class="col-lg-7">
        @foreach (var f in Model.Item2.Films)
        {
            @Html.Partial("FilmPartial", f)

        }
    </div>

    <div class="col-xs-12">
        @Html.ActionLink("Inapoi la lista de filme", "ListFilme", null,
                                 new { @class = "btn btn-success" })
    </div>
