﻿@model GestiuneFilme.WebUI.Models.FilmsListViewModel


@{
    ViewBag.Title = "ListFilme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>

<br>


<br>

<br>

<div class="col-lg-3">


    @using (Html.BeginForm("Search", "Cumparator", FormMethod.Post))
    {
        <p style="padding-left: 20%">
            <input type="text" name="titluFilm" id="titluFilm" />
        </p>
        <br>

        <br>
        <p style="padding-left: 25%">
            <input type="submit"
                   class="btn-lg btn-success pull-left"
                   value="Cauta Film" />
        </p>
    }

</div>


<div class="col-lg-7">



    @foreach (var f in Model.Films)
    {
        @Html.Partial("FilmPartialCumparator", f)

    }
    <div class="btn-group pull-right">

        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ListFilme", new { page = x }))

    </div>
</div>
