﻿@model GestiuneFilme.Domain.Entitities.Film

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add</h2>


@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Film</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.titlu, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.titlu)
            @Html.ValidationMessageFor(model => model.titlu)
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.regia, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.regia)
            @Html.ValidationMessageFor(model => model.regia)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.distributia, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.distributia)
            @Html.ValidationMessageFor(model => model.distributia)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.numarBilete, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.numarBilete)
            @Html.ValidationMessageFor(model => model.numarBilete)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dataPremiera, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dataPremiera)
            @Html.ValidationMessageFor(model => model.dataPremiera)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dataDifuzare, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dataDifuzare)
            @Html.ValidationMessageFor(model => model.dataDifuzare)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.imageFilm, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="image1" />
           
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adauga" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Inapoi la lista", "Index", null,
                             new { @class = "btn btn-success" })


    </div>
