﻿@model IEnumerable<GestiuneFilme.Domain.Entitities.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div>All Employees</div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Nume</th>
                <th class="text-center">Username</th>
                <th class="text-center">Parola</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
    
                    <td class="text-center">@item.nume</td>
                    <td class="text-center">@item.username</td>
                    <td class="text-center">@item.parola</td>
          
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Adauga Angajat", "CreateAngajat", null,
                       new { @class = "btn btn-default" })
    </div>
</div>