﻿@model IEnumerable<GestiuneFilme.Domain.Entitities.Film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div>All Films</div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Film</th>
                <th class="text-center">Regia</th>
                <th class="text-center">Distributia</th>
                <th class="text-center">NumarBilete</th>
                <th class="text-center">DataPremiera</th>
                <th class="text-center">DataDifuzare</th>
                <th class="text-center">Delete Film</th>
                <th class="text-center">Export Json</th>
                <th class="text-center">Export CSV</th>


            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">
                    @Html.ActionLink(item.titlu, "Edit", new { item.id })
                </td>
                <td class="text-center">@item.regia</td>
                <td class="text-center">@item.distributia</td>
                <td class="text-center">@item.numarBilete.ToString()</td>
                <td class="text-center">@item.dataPremiera.Date.ToString("d")</td>
                <td class="text-center">@item.dataDifuzare.Date.ToString("d")</td>


                <td class="text-center">
                    @using (Html.BeginForm("Delete", "Admin"))
        {
            @Html.Hidden("id", item.id)
            <input type="submit"
                   class="btn btn-default btn-xs"
                   value="Delete" />
}


                </td>
                <td class="text-center">
                    @using (Html.BeginForm("Download", "Export", new { item.titlu, exportType = "JSON" }))
                    {
                @Html.Hidden("id", item.id)
                 <input type="submit"
                       class="btn btn-default btn-xs"
                       value="Export JSON" />
}


                </td>
                <td class="text-center">
                    @using (Html.BeginForm("Download", "Export", new { item.titlu , exportType = "CSV"}))
                    {
            @Html.Hidden("id", item.id)
            
             <input type="submit"
                   class="btn btn-default btn-xs"
                   value="Export CSV" />
}
                </td>



            </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Adauga Film", "Create", null,
                  new { @class = "btn btn-default" })
    </div>
</div>