﻿@model GestiuneFilme.WebUI.Models.FilmsListViewModel


@{
    ViewBag.Title = "ListFilme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>

<br>
<div class="col-lg-3">
    <p style="padding-left: 20%">
@Html.ActionLink("Operatii pe filme", "Index", "Admin",
                                   new { @class = "btn-lg btn-success pull-left" })
        </p>
<br>
<br>
<br>
<br>
    <p style="padding-left:20%">
@Html.ActionLink("Adauga Angajat", "IndexAngajat", "Admin",
                                  new { @class = "btn-lg btn-success pull-left" })
       </p>
    </div>
<div class="col-lg-7">


    @foreach (var f in Model.Films)
    {
        @Html.Partial("FilmPartial", f)

    }
    <div class="btn-group pull-right">

        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ListFilme", new { page = x }))

    </div>
</div>
