﻿@model GestiuneFilme.Domain.Entitities.Bilet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AngajatLayout.cshtml";

}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Film</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.film, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.film)
                @Html.ValidationMessageFor(model => model.film)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.rand, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rand)
                @Html.ValidationMessageFor(model => model.rand)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.loc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.loc)
                @Html.ValidationMessageFor(model => model.loc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data)
                @Html.ValidationMessageFor(model => model.data)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adauga" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Inapoi la lista", "Index", null,
                 new { @class = "btn btn-success" })
</div>
