﻿@model IEnumerable<GestiuneFilme.Domain.Entitities.Bilet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AngajatLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div>All Tickets</div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Film</th>
                <th class="text-center">Rand</th>
                <th class="text-center">Loc</th>
                <th class="text-center">Data</th>
                <th class="text-center">bileteCumparate</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.id</td>
                    <td class="text-center">@item.film</td>
                    <td class="text-center">@item.rand</td>
                    <td class="text-center">@item.loc</td>
                    <td class="text-center">@item.data.Date.ToString("d")</td>
                    <td class="text-center">@item.bileteCumparate</td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Adauga Bilet", "Create", null,
                       new { @class = "btn btn-default" })
    </div>
</div>