﻿@model GestiuneFilme.WebUI.Models.BileteListViewModel

@{
    ViewBag.Title = "ListBilete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>

<br>
<div class="col-lg-3">
    <p style="padding-left: 20%">
        @Html.ActionLink("Adauga Bilet", "Index", "Angajat",
                                           new { @class = "btn-lg btn-success pull-left" })
    </p>
</div>

<div class="col-lg-7">
    @foreach (var b in Model.Bilete)
    {
        @Html.Partial("BiletPartial", b)

    }

    <div class="btn-group pull-right">

        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ListBilete", new { page = x }))

    </div>

    </div>