﻿@model GestiuneFilme.WebUI.Models.BileteListViewModel


@{
    /**/

    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Download</h2>

<br>

<br>


<div class="col-lg-7">
    @foreach (var b in Model.Bilete)
    {
        @Html.Partial("BiletPartial", b)

    }

</div>