﻿<!DOCTYPE html>


<html>

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Online Movie Rental</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
</head>
   <body>

        <div class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">Online Movie Rental</a>
        </div>
        <div class="row panel ">
            <div class="col-lg-3 ">

            </div>
            @RenderBody()

        </div>

    </body>

</html>