﻿@model GestiuneFilme.Domain.Entitities.Bilet

<div class="well">
    <h3><strong> @Model.film </strong> </h3>
    <h4>Loc: @Model.loc</h4>
    <h4>Rand: @Model.rand</h4>
    <h4>Numar Bilete: @Model.bileteCumparate</h4>
    <h4>
        <span class="pull-right label label-primary">Data : @Model.data</span>
    </h4>
    <br>

    <br>
</div>
