﻿@model GestiuneFilme.Domain.Entitities.Film



<div class="well">

    @{
        var base64 = Convert.ToBase64String(Model.imageFilm);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }

    <div class="container">

    </div>

    <div class="top-right">

        <div class="col-md-3" style="padding-left: 40px;  padding-right: 30px;">
            <img src=@imgSrc class="img-responsive">
        </div>
        <h3><strong> @Model.titlu </strong> </h3>

        <h4>Regia: @Model.regia</h4>
        <h4>Distributia: @Model.distributia</h4>
        <h4>Numar Bilete: @Model.numarBilete</h4>

        <h4>
            <span class=" label label-primary">Data Premiera: @Model.dataPremiera.Date.ToString("d")</span>
            <br>

            <br>
            <span class="label label-primary">Data Difuzare: @Model.dataDifuzare.Date.ToString("d")</span>
        </h4>
        <br>

        <br>

    </div>

</div>